/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
	width: 1024px;
	height: 160px;
	background-color: #ffffff;
	
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 0;
}
/* Index middle contents */

#middle-table {
	width: 714px;
	padding: 5px;
	border: none;
}
.middle-table td {
	width: 350px;
	background-color: #cccccc;
	border: 1px solid black;
}
/* news slide at the homepage*/
.news-slide { 
	padding:5px;
	width: 710px;
	height: 300px;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
	border: 0px;
	background-color: #D4F870;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	margin-top: 10px;
	float: left;
	width: 300px;
	margin-left: -300px;
	position: relative;
	background-color: #FF9640;
	border-radius: 5px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;

}